body {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
    transition: color 0.5s;
    cursor: pointer;
  }
  h2 {
    color: #555;
    font-size: 18px;
    transition: font-size 0.3s;
  }
  
  button {
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.5s;
  }
  button:hover {
    background-color: #3498db;
  }